.root {
}

.audioPlayerBar {
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background: lightblue;
	text-align: center;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
