.root {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.progress {
	width: 100%;
	margin-bottom: 4px;
}

.controlsAndDisplays {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.bookDisplay {
	flex: 1;
	padding: 15px;
	text-align: left;
}

.bookTitle {
	 white-space: nowrap;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 max-width: 20em;
}

.controls {
	flex: 1;
	display: flex;
	justify-content: center;
}

.controls .icon {
	margin: 0 5px;
}

.playPause {
}

.rewind,
.forward {
}

.timeDisplay {
	flex: 1;
	text-align: right;
	padding: 15px;
	color: #aaa;
}

.currentTime.none {
	color: #aaa;
}

.currentTime {

}

.durationTime {

}

.durationTime.none {
	color: #aaa;
}

@media(max-width:700px) {
	.controls {
		order: 1;
	}

	.bookDisplay {
		order: 2;
	}

	.timeDisplay {
		display: none;
	}

	.playPause {
		order: 1;
	}

	.rewind {
		order: 2;
	}

	.forward {
		display: none;
	}
}